<h2 class="jumbotron text-center">#Show Page</h2>

<div class="panel text-center">
  <div class="card text-center" style="width: 18rem;">
  <img class="card-img-top"  alt="New Metal">
  <div class="card-body">
    <form class="" action="metals#create" method="post">
      <input type="text" name="title" placeholder="<%=@metal.title%>">
      <input type="text" name="price" placeholder="<%=@metal.price%>">
      <input type="text" name="desc" placeholder="<%=@metal.desc%>">
      <button type="submit" name="button" value="submit">Click to submit</button>
    </form>
  </div>
  <%= link_to 'Click to see all', metals_path %>
</div>


</div>
